.outer-container {
  gap: 1em;
  width: 50vw;
  margin-left: 2em;
  border-radius: 4px;
  height: 80vh;
  align-self: flex-end;
}

.budget-view {
  padding: 20px;
}

.budget-section {
  border: 2px solid #888;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.budget-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.budget-item-card {
  padding: 15px;
}

button {
  height: 50px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  background-color: #A1C084 !important;
  color: white !important;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  transition: background-color 0.3s ease, transform 0.2s ease !important;
}

button:hover {
  cursor: pointer !important;
  background-color: #556B2F !important;
  transform: scale(1.05) !important;
}

button:active {
  background-color: #4CAF50 !important;
  color: white !important;
}

.button_div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button_div button {
  width: 150px;
}
.add-budget-item-button {
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.add-budget-item-button:hover {
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-budget-item-button mat-icon {
  margin-right: 10px;
  font-size: 20px;
  color: black;
}

.add-budget-item-button p {
  font-size: 14px;
  color: black;
  margin: 0;
}

.close-button{
  background-color: transparent !important;
  color: #333333 !important;
  align-self: flex-end;
  padding: 10px;
  scale: 1.25;
  margin-right: 10px;
}

.close-button:hover {
  background-color: transparent !important;
}
