.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%; /* Set this to your desired width */
  height: fit-content;
  max-width: 1000px  ;
  max-height: 100%;
  margin: auto;
}

.carousel-container {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out; /* Smooth sliding effect */
}

.carousel-card {
  flex: 0 0 33.333333%; /* Show 3 cards at a time */
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-card:hover {
  transform: scale(1.05); /* Slightly increase the card size */
}

.carousel_button {
  position: absolute;
  bottom: -5%;
  transform: translateY(-50%);
  color: black;
  border: none;
  font-size: 2em;
  cursor: pointer;
  z-index: 10;
}
mat-icon{
  transform: scale(1.10);
  padding-top: -20em;
}
button:hover {
  background: #ffffff;
}

button:first-of-type {
  left: 10px;
}

button:last-of-type {
  right: 10px;
}
p{
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 0.5em;
}
.parent_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.cards-div{
  margin-top: 5%;
}

.see_all{
  align-self: center !important;
  color: black !important;
  background: transparent !important;
  width: fit-content;
  font-size: 0.72em;
  transform: translateY(-25%);
}
.see_all:hover{
  background : #A1C084 !important;
  color: white !important;
}

.header_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
