/*mat-toolbar {
      background-color: #A1C084;
    justify-content: space-between;
}

.btn {
  color: black !important;
  background-color: #A1C084 !important;
  border: none !important;
  box-shadow: none !important;
  float: left;
}
.btn:hover {
  background-color: #556B2F !important;
}

.account_button{
  transform: scale(1.1) !important;
}

div {
    width: fit-content;
    justify-content: flex-end;
    align-items: center;
    justify-self: center;
}

button {
    margin-right: 30pt;
    transform: scale(1.65);
}

span {
    color: white;
    justify-content: center;
}
*/

mat-toolbar {
  background-color: #A1C084;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*height: 64px;*/
  padding: 0 10px;
}

.toolbar-section {
  display: flex;
  gap: 35pt; /*space betweem buttons*/
}

.toolbar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /*align icons and text vertically*/
}

button {
  transform: scale(1.4);
}

button mat-icon {
  margin-bottom: 2pt; /*spacing between icon and text*/
}

.toolbar-button span {
  color: #44474E;
  font-size: 9pt; /* Slightly smaller text for better alignment */
  text-align: center;
  line-height: 1; /* Compact line height */
}
