<!--

<mat-toolbar>
  <div style="margin-left:15pt">
    <button  mat-icon-button [routerLink]="['home']">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickPlaceholder()">
      <mat-icon>calendar_month</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickPlaceholder()">
      <mat-icon>chat</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickPlaceholder()">
      <mat-icon>notification_important</mat-icon>
    </button>
  </div>
  <div>
  <button mat-icon-button (click)="onClickPlaceholder()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateToLogin()">
    <mat-icon class="account_button" fontIcon="account_circle"></mat-icon>
  </button>
  </div>
</mat-toolbar>

-->

<mat-toolbar>
  <div class="toolbar-section">
    <div class="toolbar-button">
      <button mat-icon-button> <!--[routerLink]="['home']"-->
        <mat-icon>home</mat-icon>
      </button>
      <span>Home</span>
    </div>
    <div class="toolbar-button">
      <button mat-icon-button (click)="onClickCalendar()">
        <mat-icon>calendar_month</mat-icon>
      </button>
      <span>My Events</span>
    </div>
    <div class="toolbar-button">
      <button mat-icon-button (click)="onClickInbox()">
        <mat-icon>chat</mat-icon>
      </button>
      <span>Chats</span>
    </div>
    <div class="toolbar-button">
      <button mat-icon-button (click)="onClickPlaceholder()">
        <mat-icon>notification_important</mat-icon>
      </button>
      <span>Notifications</span>
    </div>
    <div *ngIf="role == 'ORGANIZER'" class="toolbar-button">
      <button mat-icon-button (click)="onClickCreateEvent()">
        <mat-icon>add_circle</mat-icon>
      </button>
      <span>Create Event</span>
    </div>
  </div>
  <div class="toolbar-section">
    <div class="toolbar-button">
      <button mat-icon-button (click)="onClickPlaceholder()">
        <mat-icon>settings</mat-icon>
      </button>
      <span>Settings</span>
    </div>
    <div class="toolbar-button">
      <button mat-icon-button (click)="navigateToLogin()">
        <mat-icon class="account_button" fontIcon="account_circle"></mat-icon>
      </button>
      <span>Profile</span>
    </div>
  </div>
</mat-toolbar>
