<mat-toolbar>
  <div>
    <button [routerLink]="['wine']" class="btn" mat-raised-button>Events</button>
    <button [routerLink]="['card']" class="btn" mat-raised-button>Services</button>
    <button [routerLink]="['add']" class="btn" mat-raised-button>Products</button>
    <button [routerLink]="['add']" class="btn" mat-raised-button>About</button>
  </div>
  <button mat-icon-button (click)="navigateToLogin()">
    <mat-icon class="account_button" fontIcon="account_circle"></mat-icon>
  </button>
</mat-toolbar>
