.toast {
  z-index: 9999;
  position: fixed;
  top: 10vh;  /* Adjust based on your preference */
  left: 4vh;  /* Adjust based on your preference */
  background: #ffffff;
  color: white;
  padding: 20px;
  width: auto;  /* Ensure the width isn't collapsed */
  height: auto; /* Ensure the height isn't collapsed */
  min-width: 200px;  /* You can also set a minimum width */
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease-in-out;
}

.toast .check,
.toast .error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  font-size: 2vh;
  color: white;
  border-radius: 50%;
}

.toast-content .message span{
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .title{
  font-size: 2vh;
  font-weight: 600;
  color:#A1C084;
}

.message .text{
  font-size: 1.5vh;
  font-weight: 600;
  color:black;
}

.toast .exit{
  position: absolute;
  top: 2px;
  right: 10px;
  padding: 5px;
  cursor:pointer;
  opacity: 0.5;

}
.toast .close:hover{
  opacity: 1;
}
