<mat-card class="fast-register-div">
  <mat-card-title>
    Fast Registration
  </mat-card-title>
  <mat-form-field>
    <mat-label>Enter password</mat-label>
    <input matInput type="password" [ngModel]="password">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input matInput type="password" [ngModel]="confirmPassword">
    <mat-error *ngIf="isValid">Passwords don't match!</mat-error>
  </mat-form-field>

  <button mat-raised-button (click)="onRegisterClick()">Register</button>
</mat-card>
