<div class="parent_div">
  <div class="cards-div">
    <div class="header_div">
      <p>Top 5 Events in #Your City#</p>
      <button [routerLink]="['/all-events']" mat-raised-button class="see_all">See All</button>
    </div>
    <div class="carousel">
      <button mat-icon-button (click)="prevEvent()" class="carousel_button">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="carousel-container" [style.transform]="getTransformEvent()">
        <div *ngFor="let event of events" class="carousel-card">
          <app-home-card (clicked)="onEventClicked($event)" [event]="event"></app-home-card>
        </div>
      </div>
      <button mat-icon-button (click)="nextEvent()" class="carousel_button">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
  <div class="cards-div">
    <div class="header_div">
      <p>Top 5 Assets in #Your City#</p>
      <button mat-raised-button class="see_all">See All</button>
    </div>
    <div class="carousel">
      <button mat-icon-button (click)="prevAsset()" class="carousel_button">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="carousel-container" [style.transform]="getTransformAsset()">
        <div *ngFor="let asset of assets" class="carousel-card">
          <app-asset-card [asset]="asset"></app-asset-card>
        </div>
      </div>
      <button mat-icon-button (click)="nextAsset()" class="carousel_button">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

</div>
