mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button[mat-icon-button] {
    background: transparent;
    border: none;
    padding: 4px;
    color: #ff0000; 
  }
  
  button[mat-icon-button]:hover {
    background-color: #ffcccc; 
  }

  mat-radio-group {
    display: flex; 
    flex-direction: column;
  }
  
  mat-radio-button {
    margin-bottom: 0.5rem; 
  }
  