.event-card {
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  max-height: 10em;
  width: 15em;
}

.event-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-card mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #A1C084; /* Updated color */
  margin-bottom: 1em;
}

.event-card mat-card-subtitle {
  font-size: 0.9rem;
  color: #757575;
}

.event-card mat-card-content p {
  font-size: 1rem;
  color: #424242;
  margin: 8px 0;
}

.event-card mat-card-actions {
  margin-top: 16px;
}
