mat-card{
  width: fit-content;
  height: fit-content;
  max-width: 300px;
  max-height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
mat-card-header{
  color: black;
  font-weight: bold;
  width: fit-content;
}
mat-card-content{
  margin-top: 10px;
  color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
img{
  max-height: 20%;
  max-width: 100%;
}

.star_btn{
  align-self: flex-end;
  margin-right: 0.5em;
}
mat-icon{
  transform: scale(1.15);
  color: #A1C084;
}
