<mat-card class="example-card">
  <!-- Display the first image dynamically -->
  <img
    mat-card-image
    class="img"
    [src]="asset.images?.length > 0 ? asset.images[0] : 'https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg'"
    alt="Image"
  >

  <mat-card-content>
    <mat-card-title>{{ asset.name }}</mat-card-title>

    <mat-card-subtitle *ngIf="category">
      {{ category.type }}
      {{ category.name }}
    </mat-card-subtitle>

    <mat-card-subtitle *ngIf="!category">Loading category...</mat-card-subtitle>
  </mat-card-content>
</mat-card>
