.blocked-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 10%;
}
.blocked-user-div{
  width: 100%;
display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2rem;
  border: 1px solid #000;
}
.unblock-button{
  width: 5em;
  color: white !important;
  background: #A1C084 !important;
  align-self: center;
  margin-bottom: 0.3rem;
}
