<div class="outer-container">
  <div class="profile-container">
    <div class="user-info">
      <div class="user-details">
        <h2>{{currentUser.firstName+" "+currentUser.lastName}}</h2>
        <p>{{ role }}</p>
      </div>

      <div class="additional-info">
        <h3>EMAIL</h3>
        <p>{{ currentUser.email }}</p>

        <h3>NAME AND SURNAME</h3>
        <p>{{currentUser.firstName+" "+currentUser.lastName}}</p>

        <h3>ADDRESS</h3>
        <p>{{ currentUser.address }}</p>

        <h3>PHONE NUMBER</h3>
        <p>{{ currentUser.number }}</p>

        <h3>ACCOUNT STATUS</h3>
        <p style="font-weight: 500;">{{ currentUser.isActive ? 'Verified' : 'Not Verified' }}</p>
      </div>

      <div *ngIf="role==='PROVIDER'" class="company-info">
        <h3>COMPANY NAME</h3>
        <p>Company ABC</p>

        <h3>ABOUT</h3>
        <p>Description of the company goes here.</p>
      </div>

      <div class="profile-actions">
        <button mat-raised-button class="btn action-button" >
          <mat-icon>report</mat-icon>
        </button>
        <button mat-raised-button class="btn action-button" (click)="navigateToEditProfile()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button class="btn action-button" (click)="logoutClick()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>

    <div class="profile-section">
      <div class="profile-picture-container">
        <img
          [src]="currentUser.profileImage"
          alt="Profile Picture"
          class="profile-picture"
        />
        <div class="specific-actions">
          <button *ngIf="role =='PROVIDER'" [routerLink]="['/all-my-assets']" mat-raised-button color="primary" class="btn under-profile-btn">My Assets</button>
          <button *ngIf="role =='PROVIDER'" mat-raised-button color="primary" class="btn under-profile-btn" (click)="navigateToCreateAsset()">Create Asset</button>
          <button mat-raised-button color="primary" class="btn under-profile-btn" >Start chat</button>
          <button *ngIf="role =='PROVIDER'" (click)="navigateToCategories()" mat-raised-button color="primary" class="btn under-profile-btn">Asset categories</button>
        </div>
      </div>
    </div>
  </div>
</div>
