<div class="outer-container">
  <div class="profile-container">
    <div class="user-info">
      <div class="user-details">
        <h2>{{currentUser.firstName+" "+currentUser.lastName}}</h2>
        <p>{{ role }}</p>
      </div>

      <div class="additional-info">
        <h3>EMAIL</h3>
        <p>{{ currentUser.email }}</p>

        <h3>NAME AND SURNAME</h3>
        <p>{{currentUser.firstName+" "+currentUser.lastName}}</p>

        <h3>ADDRESS</h3>
        <p>{{ currentUser.address }}</p>

        <h3>PHONE NUMBER</h3>
        <p>{{ currentUser.number }}</p>

        <h3 *ngIf="isMyProfile">ACCOUNT STATUS</h3>
        <p *ngIf="isMyProfile" style="font-weight: 500;">{{ currentUser.isActive ? 'Verified' : 'Not Verified' }}</p>
      </div>

      <div *ngIf="role==='Provider'" class="company-info">
        <h3>COMPANY NAME</h3>
        <p>{{ companyName }}</p>

        <h3>ABOUT</h3>
        <p>{{ companyDesc }}</p>
      </div>

      <div class="profile-actions">
        <!-- <button mat-raised-button class="btn action-button" >
          <mat-icon>report</mat-icon>
        </button> -->
        <button mat-raised-button class="btn"
                (click)="navigateToEditProfile()"
                *ngIf="isMyProfile">
          <mat-icon>edit</mat-icon>
          Edit Profile
        </button>
        <button mat-raised-button class="btn"
                (click)="logoutClick()"
                *ngIf="isMyProfile">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
        <button mat-raised-button class="btn"
                (click)="blockedUsersClicked()"
                *ngIf="isMyProfile">
          <mat-icon>block</mat-icon>
          Blocked Users
        </button>
      </div>
      <div class="profile-actions" *ngIf="!isMyProfile" style="margin-top: 30%">
        <button mat-raised-button class="btn"
                *ngIf="!isMyProfile"
                (click)="onReportUserClicked()">
          <mat-icon>report</mat-icon>
          Report User
        </button>
        <button mat-raised-button class="btn"
                *ngIf="!isMyProfile"
                (click)="onBlockUserClicked()">
          <mat-icon>block</mat-icon>
          Block User
        </button>
      </div>
    </div>

    <div class="profile-section">
      <div class="profile-picture-container">
        <img
          [src]="currentUser.profileImage"
          alt="Profile Picture"
          class="profile-picture"
        />
        <div class="specific-actions">
          <button *ngIf="role =='Provider'" [routerLink]="['/all-my-assets']" mat-raised-button color="primary" class="btn under-profile-btn">My Assets</button>
          <button *ngIf="role =='Provider'" mat-raised-button color="primary" class="btn under-profile-btn" (click)="navigateToCreateAsset()">Create Asset</button>
          <!-- <button mat-raised-button color="primary" class="btn under-profile-btn" >Start chat</button> -->
          <button *ngIf="role =='Admin'" (click)="navigateToCategories()" mat-raised-button color="primary" class="btn under-profile-btn">Asset categories</button>
        </div>
      </div>
      <div *ngIf="role == 'Provider'">
        <h3>COMPANY IMAGES</h3>
        <div class="company-images" *ngFor="let image of companyImages">
          <img class="company-image" [src]="image"  alt="Company Image" />
        </div>
      </div>
    </div>
  </div>
  <div class="event-container" *ngIf="role == 'Organizer'">
    <h2 style="font-size: 2rem">My (Organized) Events</h2>
    <ng-container *ngIf="items.length > 0">
      <div *ngFor="let item of items">
        <app-event-card [event]="item">{{item.name}}</app-event-card>
      </div>
    </ng-container>
  </div>
</div>
