<h2 mat-dialog-title>Bought Assets</h2>
<mat-dialog-content>
  <div *ngIf="hasAssets; else noAssets" style="width: 100%;">
    <mat-list>
      <mat-list-item *ngFor="let entry of boughtAssets" (click)="onAssetClick(entry)">
        <button mat-raised-button class="asset-btn">
          {{entry.asset.name}} - {{entry.asset.price}}$
        </button>
      </mat-list-item>
    </mat-list>
  </div>

  <ng-template #noAssets>
    <p>No bought assets for now.</p>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
