<div class="side-bar">
  <button  mat-icon-button [routerLink]="['home']">
    <mat-icon>home</mat-icon>
  </button>
  <button *ngIf="role" mat-icon-button [routerLink]="['calendar']">
    <mat-icon>calendar_month</mat-icon>
  </button>
  <button *ngIf='role == "PROVIDER" || role == "ORGANIZER" || role == "USER" || role == "ADMIN"' mat-icon-button [routerLink]="['inbox']">
    <mat-icon>chat</mat-icon>
  </button>
  <button *ngIf="role" mat-icon-button [routerLink]="['notifications']">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button *ngIf="role =='ORGANIZER'" [routerLink]="['create-event']">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-icon-button *ngIf="role =='PROVIDER'" [routerLink]="['create-asset']">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-icon-button *ngIf="role =='ADMIN'" [routerLink]="['reviews']">
    <mat-icon>assignment</mat-icon>
  </button>
  <button mat-icon-button *ngIf="role =='PROVIDER'" [routerLink]="['price-list']">
    <mat-icon>assignment</mat-icon>
  </button>
  <button mat-icon-button *ngIf="role == 'ADMIN'" [routerLink]="['reports']">
    <mat-icon>report</mat-icon>
  </button>
  <div class="bottom-buttons">
    <button mat-icon-button (click)="navigateToLogin()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
