<div class="side-bar">
  <button  mat-icon-button [routerLink]="['home']">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['calendar']">
    <mat-icon>calendar_month</mat-icon>
  </button>
  <button mat-icon-button (click)="onClickPlaceholder()">
    <mat-icon>chat</mat-icon>
  </button>
  <button mat-icon-button (click)="onClickPlaceholder()">
    <mat-icon>notification_important</mat-icon>
  </button>
  <button mat-icon-button *ngIf="role =='ORGANIZER'" [routerLink]="['create-event']">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-icon-button *ngIf="role =='PROVIDER'" [routerLink]="['asset-categories']">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-icon-button *ngIf="role =='ADMIN'" [routerLink]="['event-types']">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-icon-button *ngIf="role =='ADMIN'" [routerLink]="['reviews']">
    <mat-icon>assignment</mat-icon>
  </button>
  <button mat-icon-button *ngIf="role =='PROVIDER'" [routerLink]="['price-list']">
    <mat-icon>assignment</mat-icon>
  </button>
  <div class="bottom-buttons">
    <button mat-icon-button (click)="onClickPlaceholder()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateToLogin()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
