<div id="filter-close-div">
  <div class="filter-container">
    <!-- Category 1 -->
    <div class="filter-title" id="filter1">
      <h3>Category 1</h3>
    </div>
    <div class="filter-options" id="options1">
      <mat-checkbox id="option1-1">Option 1</mat-checkbox><br>
      <mat-checkbox id="option1-2">Option 2</mat-checkbox><br>
      <mat-checkbox id="option1-3">Option 3</mat-checkbox><br>
    </div>

    <!-- Category 2 -->
    <div class="filter-title" id="filter2">
      <h3>Category 2</h3>
    </div>
    <div class="filter-options" id="options2">
      <mat-checkbox id="option2-1">Option A</mat-checkbox><br>
      <mat-checkbox id="option2-2">Option B</mat-checkbox><br>
      <mat-checkbox id="option2-3">Option C</mat-checkbox><br>
    </div>

    <!-- Category 3 -->
    <div class="filter-title" id="filter3">
      <h3>Category 3</h3>
    </div>
    <div class="filter-options" id="options3">
      <mat-checkbox id="option3-1">Option X</mat-checkbox><br>
      <mat-checkbox id="option3-2">Option Y</mat-checkbox><br>
    </div>
  </div>
  <button mat-icon-button>
    <mat-icon></mat-icon>
  </button>
</div>

