.filter-container {
  width: 100%;
  padding: 1%;
  background-color: #44474E;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter-title h3 {
  cursor: pointer;
  padding: 1% ;
  margin: 2%;
  border-radius: 2%;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
}

.filter-title h3:hover {
  background-color: #bbb;
}

.filter-options {
  display: none;
  padding-left: 20px;
  margin-top: 10px;
}


.filter-options.show {
  display: block;
}
.filter-options input {
  margin-right: 5px;
}
.filter-options mat-mdc-checkbox mat-accent{
  background-color: #44474E;
}
.mat-accent.mat-mdc-checkbox {
  --mdc-checkbox-selected-pressed-icon-color: #A1C084;
  --mdc-checkbox-selected-checkmark-color: #ffffff;
  --mdc-checkbox-selected-focus-icon-color: #A1C084;
  --mdc-checkbox-selected-hover-icon-color: #A1C084;
  --mdc-checkbox-selected-icon-color: #A1C084;
  --mdc-checkbox-selected-focus-state-layer-color: #A1C084;
  --mdc-checkbox-selected-hover-state-layer-color: #A1C084;
  --mdc-checkbox-unselected-pressed-state-layer-color: #A1C084;
  --mat-checkbox-disabled-label-color: rgba(26, 27, 31, 0.38);
  --mat-checkbox-label-text-color: #f5f5f5;
}
#filter-close-div{
  display:flex;
  flex-direction: row;
}
