h1 {
    color: blue
}
hr{
  transform: scale(2);
  color: black;
  background: black;
}

.outer-home-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.page-div{
  width: 100%;
  height: 100%;
}
