<div class="outer-container">
  <div class="profile-container">
    <div class="user-info">
      <div *ngIf="role =='Provider'" class="user-details">
        <h2>EDIT PROVIDER</h2>
      </div>
      <div *ngIf="role =='Organizer'" class="user-details">
        <h2>EDIT ORGANIZER</h2>
      </div>
      <div *ngIf="role =='User'" class="user-details">
        <h2>EDIT USER</h2>
      </div>

      <div class="additional-info">
        <h3>EMAIL</h3>
        <input type="email" class="input-field" [(ngModel)]="email_input"/>

        <h3>NAME</h3>
        <input type="text" class="input-field" [(ngModel)]="firstName_input"/>

        <h3>SURNAME</h3>
        <input type="text" class="input-field" [(ngModel)]="lastName_input"/>

        <h3>ADDRESS</h3>
        <input type="text" class="input-field" [(ngModel)]="address_input"/>

        <h3>PHONE NUMBER</h3>
        <input type="text" class="input-field" [(ngModel)]="number_input"/>
      </div>

      <!--

      <div *ngIf="role =='Provider'" class="company-info">
        <h3>COMPANY NAME</h3>
        <input type="text" class="input-field" [(ngModel)]="companyName_input"/>

        <h3>ABOUT</h3>
        <textarea class="input-field" [(ngModel)]="companyDesc_input"></textarea>
      </div>

      -->

      <div class="button-group">
        <button mat-raised-button color="primary" class="btn action-btn" type="submit">Confirm</button>
        <button mat-raised-button color="primary" class="btn action-btn" type="button" (click)="navigateToProfile()">Cancel</button>
      </div>
    </div>

    <div class="profile-section">
      <div class="profile-picture-container">
        <input
          type="file"
          id="fileInput"
          accept="image/*"
          style="display: none;"
          (change)="onFileSelected($event)"
        />
        <img
          [src]="profilePictureUrl"
          alt="Profile Picture"
          class="profile-picture"
          (click)="triggerFileInput()"
        />
        <button mat-raised-button color="warn" class="btn deactivate-btn" type="button" (click)="openDeleteDialog()">Delete</button>
      </div>
    </div>
  </div>
</div>
