#see-all-outer-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 4em;
}
.cards-view{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  height: fit-content;
  overflow-y: auto;
  margin-bottom: 1em;
  justify-self: center;
  padding-left: 5%;
  max-height: 70%;
}
.card{
  margin: 1rem;
  max-width: 60%;
  max-height: 20%;
}
#search-bar{
  width: 100%;
  height: 5%;
  margin-top: -2%;
  margin-bottom: 5%;
}

.page-btn{
  color: #44474E !important;
  width: 1em !important;
}
.page-btn:hover{
  background-color: #A1C084;
}

#mat-paginator{
  display: none !important;
}
#paging-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}
#paging-div button:first-child{
  margin-right: 1rem;
}

#paging-div button:last-child{
  margin-left: 1rem;
}
.current-page {
  background-color: #A1C084;
  color: white;
}

#filter-div{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  width: 7%;
  background-color: #A1C084;
  border-radius: 1rem;
  margin-bottom: 1em;
}

#filter-popup {
  position: fixed;
  z-index: 1000;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

#close-button{
  justify-content: flex-end;
  color: #44474E !important;
}
#menu-events{
  display: flex;
  flex-direction: column;
  width: 10em;
}
#menu-events span{
  color: #44474E !important;
  padding-left: 0.7rem;
}

#order-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#order-div button{
  margin-left: 1rem;
}

.my-assets-heading {
  color: #44474E;
  font-size: 30px; 
  margin-top: 20px; 
  margin-bottom: 0px;
}

