.filter-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 25em;
  padding: 1%;
}

.filter-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filter-title h3 {
  cursor: pointer;
  padding: 1% ;
  margin: 2%;
  border-radius: 2%;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
  color: #44474E;
}
.inner-div{
  display: flex;
  flex-direction: column;
}

.filter-title:hover {
  background-color: #bbb;
}
.down-button{
  color: #44474E;
  margin-right: 1em;
}
.down-button:hover{
  background-color: #A1C084;
}
.filter-options {
  display: none;
  padding-left: 20px;
  margin-top: 10px;
}
#filterPrivate{
  justify-content: flex-start;
}

.filter-options {
  display: none; /* Hide the options initially */
}

.filter-options.show {
  display: block; /* Show the options when the 'show' class is added */
}
.filter-options input {
  margin-right: 5px;
}
.mat-primary {
  --mat-stepper-header-selected-state-icon-background-color: #A1C084;
  --mat-stepper-header-selected-state-icon-foreground-color: #ffffff;
  --mat-stepper-header-edit-state-icon-background-color: #A1C084;
  --mat-stepper-header-edit-state-icon-foreground-color: #ffffff;
}
#filter-close-div{
  display:flex;
  flex-direction: row;
}
#applyButton{
  justify-self: flex-end;
  align-self: center;
  margin-top: 1em;
  width: 30%;
  background-color: #A1C084;
  color: white;
}
#applyButton:hover{
  background-color: #A1C084;
}

.filter-date-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filter-date-div h3:hover{
  background-color: #bbb;
}
.filter-date-div h3{
  cursor: pointer;
  padding: 1% ;
  margin: 2%;
  border-radius: 2%;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
  color: #44474E;
}
.filter-date-div mat-form-field{
  width: 60%;
}
