<div id="filter-popup" *ngIf="isFilterVisible">
  <div class="filter-container">
    <app-filter-pop-up [filterType]="filterType"></app-filter-pop-up>
    <button (click)="onClosePopupClick()" style="color: #f5f5f5" id="close-button" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>


<!--Search bar and filter and sort div -->
<div id="see-all-outer-div">

  <div *ngIf="isMyAssets">
    <h1 class="my-assets-heading">My Assets</h1>  <!-- Add the class for styling -->
  </div>

  <app-search-bar id="search-bar"></app-search-bar>
  <!--Filter div! -->
  <div id="filter-div">
    <button mat-icon-button (click)="onClickFilterButton()">
      <mat-icon>filter_alt</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>sort</mat-icon>
    </button>
    <mat-menu  #menu="matMenu">
      <div *ngIf="isEvents" class="menu-events">
        <div class="order-div">
          <span>Sort by</span>
          <button (click)="orderButtonClicked()" mat-icon-button>
            <mat-icon *ngIf="ascending">keyboard_arrow_up</mat-icon>
            <mat-icon *ngIf="!ascending">keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-checkbox (click)="onItemClick($event)">Name</mat-checkbox>
        <mat-checkbox (click)="onItemClick($event)">Capacity</mat-checkbox>
        <mat-checkbox (click)="onItemClick($event)">Start Date</mat-checkbox>
        <mat-checkbox (click)="onItemClick($event)">End Date</mat-checkbox>
      </div>
      <div *ngIf="!isEvents" class="menu-events">
        <div class="order-div">
          <span>Sort by</span>
          <button (click)="orderButtonClicked()" mat-icon-button>
            <mat-icon *ngIf="ascending">keyboard_arrow_up</mat-icon>
            <mat-icon *ngIf="!ascending">keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-checkbox (click)="onItemClick($event)">Name</mat-checkbox>
        <mat-checkbox (click)="onItemClick($event)">Price</mat-checkbox>
        <mat-checkbox (click)="onItemClick($event)">Start Date</mat-checkbox>
        <mat-checkbox (click)="onItemClick($event)">End Date</mat-checkbox>
      </div>
    </mat-menu>
  </div>

  <!--Card view div that contains cards -->
  <div class="cards-view" *ngIf="isEvents">
    <div *ngFor="let event of currentPageEvents" class="card">
      <app-event-card [event]="event"></app-event-card>
    </div>
  </div>
  <div *ngIf="!isEvents" class="cards-view">
    <div *ngFor="let asset of currentPageEvents" class="card">
      <app-asset-card [asset]="asset"></app-asset-card>
    </div>
  </div>
  <div id="paging-div">
    <button mat-icon-button class="carousel_button" (click)="previousPage()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="pagination">
      <button
        mat-button
        *ngFor="let pageNumber of pageNumbers"
        [disabled]="pageNumber === '...' || pageNumber === pageIndex"
        (click)="setPage(pageNumber)"
        class="page-btn"
        [ngClass]="{'current-page': pageNumber === pageIndex}">
        {{ pageNumber === '...' ? '...' : pageNumber + 1 }}
      </button>
    </div>
    <button mat-icon-button class="carousel_button" (click)="nextPage()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <mat-paginator
                 id="mat-paginator"
                 [length]="100"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="updatePageData($event)"
                 aria-label="Select page of events">
  </mat-paginator>
</div>
