<div id="filter-popup" *ngIf="isFilterVisible">
  <div class="filter-container">
    <app-filter-pop-up (clicked)="onApplyEventFiltersClicked($event)"
                       (filterAssets)="onApplyAssetsFiltersClicked($event)"
                       [filterType]="filterType"
    id="filter-component"></app-filter-pop-up>
    <button (click)="onClosePopupClick()" style="color: #f5f5f5" id="close-button" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>


<!--Search bar and filter and sort div -->
<div id="see-all-outer-div">

  <div *ngIf="isMyAssets">
    <h1 class="my-assets-heading">My Assets</h1>  <!-- Add the class for styling -->
  </div>

  <app-search-bar #searchBar id="search-bar"></app-search-bar>
  <!--Filter div! -->
  <div id="filter-div">
    <button id="filter-button" mat-icon-button (click)="onClickFilterButton()">
      <mat-icon>filter_alt</mat-icon>
    </button>
    <button id="sort-button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>sort</mat-icon>
    </button>
    <mat-menu id="menu"  #menu="matMenu">
      <div *ngIf="isEvents" class="menu-events">
        <div class="order-div" style="align-self: center">
          <span style="font-size: 1rem">Sort by</span>
        </div>
        <button id="name-asc" class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'name'; pageProperties.sortOrder = 'asc'; filterEvents();" >Name A-Z</button>
        <button id="name-desc" class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'name'; pageProperties.sortOrder = 'desc';filterEvents();" >Name Z-A</button>
        <button id="start-date-asc" class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'startDate'; pageProperties.sortOrder = 'asc';filterEvents();">Start Date oldest</button>
        <button id="start-date-desc" class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'startDate'; pageProperties.sortOrder = 'desc';filterEvents();">Start Date newest</button>
        <button id= "end-date-asc" class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'endDate'; pageProperties.sortOrder = 'asc';filterEvents();">End Date oldest</button>
        <button id="end-date-desc" class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'endDate'; pageProperties.sortOrder = 'desc';filterEvents();">End Date newest</button>
        <button id="capacity-asc" class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'capacity'; pageProperties.sortOrder = 'asc';filterEvents();">Capacity lowest</button>
        <button id="capacity-desc" class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'capacity'; pageProperties.sortOrder = 'desc';filterEvents();">Capacity highest</button>
        <button id="grade-asc" class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'grade'; pageProperties.sortOrder = 'asc';filterEvents();">Grade lowest</button>
        <button id="grade-desc" class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'grade'; pageProperties.sortOrder = 'desc';filterEvents();">Grade highest</button>
      </div>
      <div *ngIf="!isEvents" class="menu-events">
        <div class="order-div" style="align-self: center">
          <span style="font-size: 1rem">Sort by</span>
        </div>
        <button class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'name'; pageProperties.sortOrder = 'asc'; filterAssets();" >Name A-Z</button>
        <button class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'name'; pageProperties.sortOrder = 'desc';filterAssets();" >Name Z-A</button>
        <button class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'price'; pageProperties.sortOrder = 'asc';filterAssets();" >Price lowest</button>
        <button class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'price'; pageProperties.sortOrder = 'desc';filterAssets();" >Price highest</button>
        <button class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'grade'; pageProperties.sortOrder = 'asc';filterAssets();" >Grade lowest</button>
        <button class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'grade'; pageProperties.sortOrder = 'desc';filterAssets();" >Grade highest</button>
        <button class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'discount'; pageProperties.sortOrder = 'asc';filterAssets();" >Discount lowest</button>
        <button class="menu-button" mat-flat-button (click)="pageProperties.sortBy = 'discount'; pageProperties.sortOrder = 'desc';filterAssets();" >Discount highest</button>
      </div>
    </mat-menu>
  </div>

  <!--Card view div that contains cards -->
  <div id="event-cards-view" class="cards-view" *ngIf="isEvents">
    <div *ngFor="let event of events" class="card">
      <app-event-card [event]="event"></app-event-card>
    </div>
  </div>

  <mat-paginator
    [length]="pageProperties.totalCount"
    [pageSize]="pageProperties.pageSize"
    [pageIndex]="pageProperties.page"
    [pageSizeOptions]="pageProperties.pageSizeOptions"
    (page)="pageChanged($event)"
    aria-label="Select page of asset categories">
  </mat-paginator>
</div>
