mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button[mat-icon-button] {
  background: transparent;
  border: none;
  padding: 4px;
  color: #ff0000;
}

button[mat-icon-button]:hover {
  background-color: #ffcccc;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin-bottom: 0.5rem;
}

#title_div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#title_div  button{
  margin-right: 0.9rem;
  margin-top: 0.7rem;
  color: #A1C084;
}

#title_div  button[mat-icon-button]:hover {
  color: #44474E;
  background: #A1C084;
}

mat-dialog-actions button {
  color: #44474E;
}

mat-dialog-actions button:hover {
  background-color: #A1C084;
}
#deactivate:hover{
  background-color: #FF000080 !important;
  color: black !important;
}
.custom-dropdown-content {
  display: block;
  max-height: 200px;
  overflow-y: auto;
  padding: 0 16px;
}

.custom-dropdown-content mat-checkbox {
  padding: 8px 0;
  display: block;
}



.full-width-menu {
  min-width: unset !important;
  width: 100%;
}
.categories_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #A1C084 1px solid;
  border-radius: 1rem;
  width: 100%;
}
