<div class="outer-container">
  <div class="profile-container">
    <div class="user-info">
      <div class="user-details">
        <h2>User Name</h2>
        <p>Type of User</p>
      </div>

      <div class="additional-info">
        <h3>EMAIL</h3>
        <p>user.com</p>

        <h3>NAME AND SURNAME</h3>
        <p>Full Name</p>

        <h3>ADDRESS</h3>
        <p>123 Bla Bla</p>

        <h3>PHONE NUMBER</h3>
        <p>613089</p>

        <h3>ACCOUNT STATUS</h3>
        <p style="font-weight: 500;">Verified</p>
      </div>

      <div class="company-info">
        <h3>COMPANY NAME</h3>
        <p>Company ABC</p>

        <h3>ABOUT</h3>
        <p>Description of the company goes here.</p>
      </div>

      <div class="profile-actions">
        <button mat-raised-button class="btn action-button">
          <mat-icon>delete</mat-icon> 
        </button>
        <button mat-raised-button class="btn action-button">
          <mat-icon>edit</mat-icon>  
        </button>
      </div>
    </div>

    <div class="profile-section">
      <div class="profile-picture-container">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
          alt="Profile Picture"
          class="profile-picture"
        />
        <div class="specific-actions">
          <button [routerLink]="['/all-my-assets']" mat-raised-button color="primary" class="btn my-assets-btn">My Assets</button>
          <button mat-raised-button color="primary" class="btn create-asset-btn" (click)="navigateToCreateAsset()">Create Asset</button>
        </div>
      </div>
    </div>
  </div>
</div>
