.outer-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 40px;
  color: #44474E;
}

.asset-container {
  display: flex;
  gap: 32px;
  width: 100%;
}

.upload-section {
  padding: 20px;
  text-align: center;
  margin-left: 2em;
}

.upload-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.carousel-images {
  display: flex;
  overflow: hidden;
}

.carousel-image {
  display: none;
  width: 400px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease, box-shadow 0.5s ease;
  border-radius: 15% ;
}

.carousel-image.active {
  display: block;
}

button {
  color: #ffffff !important;
  background-color: #A1C084 !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
}

.asset-details {
  width: 55%;
  padding: 20px;
}

.asset-details h2 {
font-size: 22px;
font-weight: 600;
margin-bottom: 20px;
}

.organizer-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
margin-bottom: 15px;
}

label {
  color: #85888d;
  font-size: 16px;
  font-style: italic;
}

p {
  font-size: 18px;
  margin: 0;
}

.btn {
  background-color: #A1C084 !important;
  color: #ffffff !important;
  border: none;
  box-shadow: none !important;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #556B2F !important;
  cursor: pointer;
}

.button-group {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.buy-button {
  margin-top: 30px;
  color: white !important;
  font-size: 18px;
  max-width: 12em;
}

.action-button {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.button-group mat-icon {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 0 !important;
}

@media (max-width: 768px) {
  .outer-container {
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }

  .upload-section, .asset-details {
    width: 100%;
  }

  .carousel-images {
    width: 100%;
    height: 250px;
  }

  .carousel-image {
    width: 100%;
    height: 250px;
  }

}

.comments-section {
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  margin-left: 150px;
}

.see-comments {
  color: #8c8c8c;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
}

.comment-input textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.rating p {
  margin: 0;
  font-size: 16px;
}
.review p {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
  line-height: 1.5;
}

.review {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.review:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.star {
  font-size: 24px;
  color: lightgray;
  cursor: pointer;
}

.star.filled {
  color: gold;
}

.rating button {
  margin-top: 10px;
}
