<div class="outer-container">
  <div class="asset-container">
    <div class="upload-section">
      <div *ngIf="images.length > 0" class="carousel">
        <button (click)="prevImage()">&#10094;</button>
        <div class="carousel-images">
          <img *ngFor="let image of images; let i = index" [src]="image" alt="Image {{i+1}}" class="carousel-image" [class.active]="i === currentImageIndex" />
        </div>
        <button (click)="nextImage()">&#10095;</button>
      </div>

      <div *ngIf="role === 'Organizer'" class="organizer-actions">
        <button
          *ngIf="isProduct && !isVersionRoute && asset.available"
          mat-raised-button
          class="btn buy-button"
          (click)="buyProduct()">
          Buy Product
        </button>
        <button mat-raised-button class="btn buy-button" (click)="chatWithProvider()">Chat with provider</button>
        <button *ngIf="isUtility && !isVersionRoute && !isReservationInFuture()" mat-raised-button class="btn buy-button" (click)="reserveUtility()">Reserve Utility</button>
        <mat-card *ngIf="assetID && eventID && isUtility" class="item-card">
          <mat-card-title>Reservation Info</mat-card-title>
          <mat-card-content>
            <div class="datetime">
              <div><strong>Date:</strong> {{ date | date:'longDate' }}</div>
              <div><strong>Time:</strong> {{ time }}</div>
            </div>
            <button
              *ngIf="isUtility && isVersionRoute && isBeforeCancellationDate() && asset.available"
              mat-raised-button
              class="btn buy-button"
              (click)="cancelReservation()">
              Cancel Reservation
            </button>
          </mat-card-content>
        </mat-card>

      </div>
    </div>

    <div class="asset-details">
      <h2>{{ asset.name || 'Utility/Product Name' }}</h2>

      <div class="form-group">
        <label for="provider">Provider</label>
        <p id="provider">{{ providerName || 'No Provider' }}</p>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <p id="category">{{ categoryName || 'No Category' }}</p>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <p id="description">{{ asset.description || 'No Description' }}</p>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <p id="price">{{ asset.price | currency }}</p>
      </div>

      <div class="form-group">
        <label for="discount">Discount</label>
        <p id="discount">{{ asset.discount }}%</p>
      </div>

      <div class="form-group" *ngIf="isProviderOwner">
        <label for="visibility">Visibility</label>
        <p id="visibility">{{ asset.visible ? 'Visible' : 'Hidden' }}</p>
      </div>

      <div class="form-group">
        <label for="availability">Availability</label>
        <p id="availability">{{ asset.available ? 'Available' : 'Unavailable' }}</p>
      </div>

      <div *ngIf="isUtility">
        <div class="form-group">
          <label for="duration">Duration</label>
          <p id="duration">{{ utilityDuration }} minutes</p>
        </div>

        <div class="form-group">
          <label for="reservationTerm">Reservation Term</label>
          <p id="reservationTerm">{{ utilityReservationTerm || 'No Reservation Term' }} days before Event start</p>
        </div>

        <div class="form-group">
          <label for="cancellationTerm">Cancellation Term</label>
          <p id="cancellationTerm">{{ utilityCancellationTerm || 'No Cancellation Term' }} days before Event start</p>
        </div>

        <div class="form-group">
          <label for="manuelConfirmation">Confirmation</label>
          <p id="manuelConfirmation">{{ utilityManualConfirmation ? 'Manual' : 'Automatic' }}</p>
        </div>
      </div>

      <div class="button-group" *ngIf="isProviderOwner">
        <button mat-raised-button class="btn action-button" (click)="openDeleteDialog()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button class="btn action-button" (click)="navigateToEditAsset()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="comments-section">
    <p class="see-comments" (click)="loadComments()">{{ showComments ? 'Hide comments' : 'See comments' }}</p>

    <div *ngIf="showComments">
      <ng-container *ngIf="boughtAsset; else joinToComment">
        <div class="comment-input">
          <textarea [(ngModel)]="userComment" placeholder="Leave a comment..."></textarea>
        </div>

        <div class="rating">
          <p>Rate this event:</p>
          <ng-container *ngFor="let star of stars; let i = index">
            <mat-icon
              class="star"
              [ngClass]="{
                'filled': i < (hoveredRating >= 0 ? hoveredRating : userRating)}"
              (click)="setRating(i + 1)"
              (mouseenter)="hoveredRating = i + 1"
              (mouseleave)="hoveredRating = -1">
              star
            </mat-icon>
          </ng-container>
        </div>

        <button class="btn" mat-raised-button (click)="submitRating()">
          <mat-icon>send</mat-icon> Rate
        </button>
      </ng-container>

      <ng-template #joinToComment>
        <p>Buy the asset to comment and rate it.</p>
      </ng-template>

      <div *ngIf="reviews.length > 0">
        <div class="review" *ngFor="let review of reviews">
          <div class="reviewUserName"> {{ review.userName }} </div>
          <p>{{ review.comment }}</p>
          <div class="stars">
            <ng-container *ngFor="let star of stars; let i = index">
              <mat-icon class="star" [ngClass]="{'filled': i < review.rating}">
                star
              </mat-icon>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-chat-popup
    *ngIf="isChatVisible"
    [otherUserName]="providerName"
    [userId]="userId"
    [otherUserId]="providerId"
    (close)="closeChat()">
  </app-chat-popup>
</div>
