h2, h3 {
  margin: 0;
}

h3 {
  color: #85888d;
  font-size: 16px;
  font-style: italic;
}

p {
  margin: 0;
  font-size: 18px;
}

.outer-container {
  color: #44474E;
  display: flex;
}

.event-details h2 {
  font-size: 30px;
  font-weight: 500;
}

.event-details p {
  font-size: 20px;
  font-style: italic;
}

.additional-info h3 {
  margin-bottom: 0px;
  line-height: 1.5;
}

.additional-info p {
  margin-bottom: 35px;
}

.additional-info {
  margin-top: 40px;
}

.event-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 13em;
  margin-left: 150px;
  margin-top: 40px;
  align-items: flex-start;
}

.event-info {
  margin-top: 10px;
  gap: 10%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.event-side-panel {
  flex: 1;
  min-width: 0;
  border-left: 1px solid #ddd;
  padding-left: 1rem;
}

.event-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap : 7%;
  margin: 0 auto;
}

.btn {
  color: #ffffff !important;
  background-color: #A1C084 !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  min-width: 200px;
}

.btn:hover {
  background-color: #556B2F !important;
  cursor: pointer;
  color: black;
}

.comments-section {
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
  margin-left: 150px;
}

.see-comments {
  color: #8c8c8c;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
}

.comment-input textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.rating p {
  margin: 0;
  font-size: 16px;
}
.review p {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
  line-height: 1.5;
}

.review {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.review:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.star {
  font-size: 24px;
  color: lightgray;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.star.filled {
  color: gold;
}

.rating button {
  margin-top: 10px;
}
