<div class="outer-container">
  <div class="event-container">
    <!-- Left Section: Event Details -->
    <div class="event-info">
      <!-- Event Details Section -->
      <div class="event-details">
        <div class="event-summary">
          <h2>{{ event.name || 'Unnamed Event' }}</h2>
          <p>{{ event.isPrivate ? 'Private Event' : 'Public Event' }}</p>
        </div>

        <div class="additional-info">
          <h3>DESCRIPTION</h3>
          <p>{{ event.description || 'No description available.' }}</p>

          <h3>CAPACITY</h3>
          <p>{{ event.capacity > 0 ? event.capacity : 'No capacity specified.' }}</p>

          <h3>START DATE</h3>
          <p>{{ event.startDate ? (event.startDate | date: 'mediumDate') : 'Not specified.' }}</p>

          <h3>END DATE</h3>
          <p>{{ event.endDate ? (event.endDate | date: 'mediumDate') : 'Not specified.' }}</p>

          <h3>ORGANIZER</h3>
          <p>{{ event.organizerName || 'Unknown' }}</p>
        </div>
      </div>

      <!-- Action Buttons Section -->
      <div class="event-actions">
        <button class="btn" mat-raised-button *ngIf="isMyEvent()" (click)="navigateToEditEvent()">
          <mat-icon>edit</mat-icon>
          Edit Event
        </button>
        <button class="btn" id="mapButton" (click)="openMap()" mat-raised-button>
          <mat-icon>map</mat-icon>
          View on Map
        </button>
        <button class="btn" (click)="navigateToBudget()" *ngIf="isMyEvent()" mat-raised-button>
          <mat-icon>Budget</mat-icon>
          Budget
        </button>
        <button class="btn" (click)="eventSignup()" *ngIf="!isMyEvent() && !alreadySignedUp" mat-raised-button>
          <mat-icon>how_to_reg</mat-icon>
          Join Event
        </button>
        <button class="btn" (click)="leaveEvent()" *ngIf="!isMyEvent() && alreadySignedUp" mat-raised-button>
          <mat-icon>cancel</mat-icon>
          Leave Event
        </button>
        <button class="btn" mat-raised-button *ngIf="event.isPrivate" (click)="guestClicked = true;
                                                                               locationClicked=false;
                                                                               budgetClicked = false">
          <mat-icon>group</mat-icon>
        </button>
      </div>
    </div>

    <app-budget *ngIf="budgetClicked" style="width: 100em" (closed)="budgetClicked = false"></app-budget>
    <app-guest-event-info [id]="event.id"  (closed)="guestClicked = false" *ngIf="guestClicked" style="width: 50em"></app-guest-event-info>
    <app-location-event-info [location]="event.location" (closed)="locationClicked=false" *ngIf="locationClicked"></app-location-event-info>
</div>
</div>
