h2, h3 {
  margin: 0;
}

h3 {
  color: #85888d;
  font-size: 16px;
  font-style: italic;
}

p {
  margin: 0;
  font-size: 18px;
}

.outer-container {
  color: #44474E;
  display: flex;
}

.event-details h2 {
  font-size: 30px;
  font-weight: 500;
}

.event-details p {
  font-size: 20px;
  font-style: italic;
}

.additional-info h3 {
  margin-bottom: 0px;
  line-height: 1.5;
}

.additional-info p {
  margin-bottom: 35px;
}

.additional-info {
  margin-top: 40px;
}

.event-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 32px;
  margin-left: 150px;
  margin-top: 40px;
  align-items: flex-start;
}

.event-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-actions {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.btn {
  color: #ffffff !important;
  background-color: #A1C084 !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  background-color: #556B2F !important;
  cursor: pointer;
  color: black;
}
