html, body { height: 100%; background-color: #f5f5f5; overflow-x: hidden;display: flex;
  flex-direction: column;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #ffffff;}
.mat-accent.mat-mdc-checkbox {
  --mdc-checkbox-selected-pressed-icon-color: #A1C084;
  --mdc-checkbox-selected-checkmark-color: #ffffff;
  --mdc-checkbox-selected-focus-icon-color: #A1C084;
  --mdc-checkbox-selected-hover-icon-color: #A1C084;
  --mdc-checkbox-selected-icon-color: #A1C084;
  --mdc-checkbox-selected-focus-state-layer-color: #A1C084;
  --mdc-checkbox-selected-hover-state-layer-color: #A1C084;
  --mdc-checkbox-unselected-pressed-state-layer-color: #A1C084;
  --mat-checkbox-disabled-label-color: rgba(26, 27, 31, 0.38);
  --mat-checkbox-label-text-color: #44474E;
}
.mat-accent.mat-mdc-slide-toggle {
  --mdc-switch-selected-focus-state-layer-color: #A1C084;
  --mdc-switch-selected-handle-color: #ffffff;
  --mdc-switch-selected-hover-state-layer-color: #A1C084;
  --mdc-switch-selected-pressed-state-layer-color: #A1C084;
  --mdc-switch-selected-focus-handle-color: #e0e0ff;
  --mdc-switch-selected-hover-handle-color: #e0e0ff;
  --mdc-switch-selected-pressed-handle-color: #e0e0ff;
  --mdc-switch-selected-focus-track-color: #A1C084;
  --mdc-switch-selected-hover-track-color: #A1C084;
  --mdc-switch-selected-pressed-track-color: #A1C084;
  --mdc-switch-selected-track-color: #A1C084;
  --mdc-switch-selected-icon-color: #44474E;
  --mat-switch-track-outline-color: #74777f;
  --mat-switch-disabled-unselected-track-outline-color: #1a1b1f;
  --mat-switch-label-text-color: #1a1b1f;
}
