@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
  font-family: 'Poppins',sans-serif;
}
h1{
  font-family: 'Poppins',sans-serif;
}
html, body { height: 100%; width: 100%; background-color: #f5f5f5;display: flex;
  margin: 0; padding: 0;
  flex-direction: column; overflow-x: hidden; }
body {height: 100%; margin: 0;color: #ffffff;}

.mat-accent.mat-mdc-checkbox,
mat-option .mat-accent.mat-mdc-checkbox{
  --mdc-checkbox-selected-pressed-icon-color: #A1C084;
  --mdc-checkbox-selected-checkmark-color: #ffffff;
  --mdc-checkbox-selected-focus-icon-color: #A1C084;
  --mdc-checkbox-selected-hover-icon-color: #A1C084;
  --mdc-checkbox-selected-icon-color: #A1C084;
  --mdc-checkbox-selected-focus-state-layer-color: #A1C084;
  --mdc-checkbox-selected-hover-state-layer-color: #A1C084;
  --mdc-checkbox-unselected-pressed-state-layer-color: #A1C084;
  --mat-checkbox-disabled-label-color: rgba(26, 27, 31, 0.38);
  --mat-checkbox-label-text-color: #44474E;
}
.mat-accent.mat-mdc-slide-toggle {
  --mdc-switch-selected-focus-state-layer-color: #A1C084;
  --mdc-switch-selected-handle-color: #ffffff;
  --mdc-switch-selected-hover-state-layer-color: #A1C084;
  --mdc-switch-selected-pressed-state-layer-color: #A1C084;
  --mdc-switch-selected-focus-handle-color: #e0e0ff;
  --mdc-switch-selected-hover-handle-color: #e0e0ff;
  --mdc-switch-selected-pressed-handle-color: #e0e0ff;
  --mdc-switch-selected-focus-track-color: #A1C084;
  --mdc-switch-selected-hover-track-color: #A1C084;
  --mdc-switch-selected-pressed-track-color: #A1C084;
  --mdc-switch-selected-track-color: #A1C084;
  --mdc-switch-selected-icon-color: #44474E;
  --mat-switch-track-outline-color: #74777f;
  --mat-switch-disabled-unselected-track-outline-color: #1a1b1f;
  --mat-switch-label-text-color: #1a1b1f;
}

.mat-step-icon mat-step-icon-state-number mat-step-icon-selected{
  --mdc-switch-selected-focus-state-layer-color: #A1C084;
  --mdc-switch-selected-handle-color: #ffffff;
  --mdc-switch-selected-hover-state-layer-color: #A1C084;
  --mdc-switch-selected-pressed-state-layer-color: #A1C084;
  --mdc-switch-selected-focus-handle-color: #e0e0ff;
  --mdc-switch-selected-hover-handle-color: #e0e0ff;
  --mdc-switch-selected-pressed-handle-color: #e0e0ff;
  --mdc-switch-selected-focus-track-color: #A1C084;
  --mdc-switch-selected-hover-track-color: #A1C084;
  --mdc-switch-selected-pressed-track-color: #A1C084;
  --mdc-switch-selected-track-color: #A1C084;
  --mdc-switch-selected-icon-color: #44474E;
  --mat-switch-track-outline-color: #74777f;
  --mat-switch-disabled-unselected-track-outline-color: #1a1b1f;
  --mat-switch-label-text-color: #1a1b1f;
}

.mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #A1C084 !important;
  color: white !important;
}

.mat-step-header .mat-step-label{
  color: rgba(0, 0, 0, .54)
}
.mat-step-header .mat-step-icon {
  background-color: gray;
}
mat-form-field.mat-form-field.mat-white {
  &.mat-focused {
    .mat-form-field-label {
      color: #A1C084;
    }
    .mat-form-field-ripple {
      background-color: #A1C084 !important;
    }
  }
  .mat-form-field-label,.mat-form-field-label.mat-focused,
  .mat-form-field.mat-focused.matform-field-should-float {
    color: #A1C084;
  }
  .mat-form-field-underline, .mat-form-field-underline.mat-focused {
    background-color: #A1C084;
  }
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #b1c8a8 !important; /* Olive green for the focused state */
}

/* Change underline color when the form field is focused */
.mat-form-field.mat-focused .mat-form-field-underline {
  background-color: #b1c8a8 !important; /* Olive green for the underline */
}

.mdc-line-ripple:active, .mdc-line-ripple:focus, .mdc-line-ripple:hover {
  background-color: #A1C084 !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple:after {
  border-bottom-color: #A1C084 !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label{
  color: #A1C084 !important;
}
clock-face__container ng-star-inserted{
  color: #A1C084 !important;
}
[_nghost-ng-c2055447140] {
  --body-background-color: #f0f0f0 !important;
  --primary-font-family: 'Poppins', sans-serif;
  --button-color: #A1C084 !important;
  --dial-active-color: #A1C084!important;
  --dial-inactive-color: rgba(255, 255, 255, .7) !important;
  --dial-background-color: #333 !important;
  --dial-editable-active-color: #A1C084!important;
  --dial-editable-background-color: #444 !important;
  --clock-face-time-active-color: #A1C084 !important;
  --clock-face-time-inactive-color: #929292 !important;
  --clock-face-inner-time-inactive-color: #aaa !important;
  --clock-face-time-disabled-color: #ddd !important;
  --clock-face-background-color: #333 !important;
  --clock-hand-color: #A1C084!important;
}


.mat-mdc-paginator {
  display: block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  background-color: #f5f5f5 !important;
  font-family: 'Poppins', sans-serif;
}

.mdc-slider__thumb-knob {
  background-color: #A1C084 !important;
  border-color: #A1C084 !important;
}

.mdc-slider__value-indicator {
  width: fit-content;
  color: #333333 !important;
  background-color: #A1C084 !important;
}
.mdc-slider__track--inactive {
  background-color: #A1C084 !important;
}
