<mat-card class="budget-item-edit-card">


  <mat-radio-group [(ngModel)]="assetType" (ngModelChange)="onAssetTypeChange($event)">
    <mat-radio-button value="PRODUCT">Product</mat-radio-button>
    <mat-radio-button value="UTILITY">Utility</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Asset Category</mat-label>
    <mat-select [(ngModel)]="budgetItem.assetCategoryId" required>
      <mat-option *ngFor="let category of assetCategories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="!budgetItem.assetCategoryId">Please select an asset category.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Planned Budget</mat-label>
    <input matInput [(ngModel)]="budgetItem.plannedAmount" type="number" min="0" required />
    <mat-error *ngIf="budgetItem.plannedAmount < 0">Planned amount cannot be negative.</mat-error>
  </mat-form-field>
  <div *ngIf="errorMessage" style="color: red; font-weight: bold;">
    {{ errorMessage }}
  </div>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div *ngIf="showSaveButton" style="display: flex; align-items: center;">
      <button mat-icon-button (click)="onSaveBudgetItem()">
        <mat-icon color="primary">save</mat-icon>
      </button>
      <button mat-icon-button class="delete-button" (click)="onDeleteBudgetItem()">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
